<div class="container" *ngIf="!isUpdate">
    <h1>Add Vehicle</h1>
    <hr />
    <div class="col-lg-6 col-md-6">
        <h3>Basic Information</h3>
        <div class="form-group">
            <label for="selectedRecyclingCenterInput">Selected Recycling Center</label>
            <select class="form-control" id="selectedRecyclingCenterInput" [(ngModel)]="vehicle.recyclingCenterId">
                <option *ngFor="let center of recyclingCenters" [value]="center.id">{{center.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="registrationNumberInput">Registration Number</label>
            <input [(ngModel)]="vehicle.registrationNumber" type="text" class="form-control" id="registrationNumberInput" name="registrationNumberInput" placeholder="Enter Registration Number" />
        </div>
        <div class="form-group">
            <label for="firstRegistrationDateInput">First Registration Date</label>
            <div class="input-group">
                <input [(ngModel)]="vehicle.firstRegistrationDate" type="date" class="form-control" id="firstRegistrationDateInput" name="firstRegistrationDateInput" placeholder="Enter First Registration Date" />
                <span class="input-group-btn">
                    <button class="btn btn-info" (click)="vehicle.firstRegistrationDate = today()" type="button">Today</button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="scrappedDateInput">Scrapped Date</label>
            <div class="input-group">
                <input [(ngModel)]="vehicle.scrappedDate" type="date" class="form-control" id="scrappedDateInput" name="scrappedDateInput" placeholder="Enter Scrapped Date" />
                <span class="input-group-btn">
                    <button class="btn btn-info" (click)="vehicle.scrappedDate = today()" type="button">Today</button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="environmentDateInput">Environment Treatment Date</label>
            <div class="input-group">
                <input [(ngModel)]="vehicle.environmentTreatmentDate" type="date" class="form-control" id="environmentDateInput" name="environmentDateInput" placeholder="Enter Environment Treatment Date" />
                <span class="input-group-btn">
                    <button class="btn btn-info" (click)="vehicle.environmentTreatmentDate = today()" type="button">Today</button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <h3>Vehicle Information</h3>
        <div class="form-group">
            <label for="vinNumberInput">VIN Number</label>
            <input [(ngModel)]="vehicle.vinNumber" type="text" class="form-control" id="vinNumberInput" name="vinNumberInput" placeholder="Enter VIN Number" />
        </div>
        <div class="form-group">
            <label for="brandInput">Brand</label>
            <input [(ngModel)]="vehicle.brand" type="text" class="form-control" id="brandInput" name="brandInput" placeholder="Enter Brand" />
        </div>
        <div class="form-group">
            <label for="modelInput">Model</label>
            <input [(ngModel)]="vehicle.model" type="text" class="form-control" id="modelInput" name="modelInput" placeholder="Enter Model" />
        </div>
        <div class="form-group">
            <label for="varientInput">Varient</label>
            <input [(ngModel)]="vehicle.variant" type="text" class="form-control" id="varientInput" name="varientInput" placeholder="Enter Varient" />
        </div>
        <div class="form-group">
            <label for="colorInput">Color</label>
            <input [(ngModel)]="vehicle.color" type="text" class="form-control" id="colorInput" name="colorInput" placeholder="Enter Color" />
        </div>
        <div class="form-group">
            <label for="yearInput">Year</label>
            <input [(ngModel)]="vehicle.year" type="text" class="form-control" id="yearInput" name="yearInput" placeholder="Enter Year" />
        </div>
    </div>
    <div class="col-lg-12 col-md-12">
        <button type="submit" (click)="submit()" class="btn btn-success">Create</button>
        <button type="button" (click)="getDataFromSkat()" class="btn btn-info pull-right">Get data from SKAT.dk</button>
    </div>
</div>
<div class="container" *ngIf="isUpdate">
    <h1>Update Vehicle</h1>
    <hr />
    <div class="col-lg-6 col-md-6">
        <h3>Basic Information</h3>
        <div class="form-group">
            <label for="selectedRecyclingCenterInput">Selected Recycling Center</label>
            <select class="form-control" id="selectedRecyclingCenterInput" [(ngModel)]="vehicle.recyclingCenterId">
                <option *ngFor="let center of recyclingCenters" [value]="center.id">{{center.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="registrationNumberInput">Registration Number</label>
            <input [(ngModel)]="vehicle.registrationNumber" type="text" class="form-control" id="registrationNumberInput" name="registrationNumberInput" placeholder="Enter Registration Number" />
        </div>
        <div class="form-group">
            <label for="firstRegistrationDateInput">First Registration Date</label>
            <div class="input-group">
                <input [(ngModel)]="vehicle.firstRegistrationDate" type="date" class="form-control" id="firstRegistrationDateInput" name="firstRegistrationDateInput" placeholder="Enter First Registration Date" />
                <span class="input-group-btn">
                    <button class="btn btn-info" (click)="vehicle.firstRegistrationDate = today()" type="button">Today</button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="scrappedDateInput">Scrapped Date</label>
            <div class="input-group">
                <input [(ngModel)]="vehicle.scrappedDate" type="date" class="form-control" id="scrappedDateInput" name="scrappedDateInput" placeholder="Enter Scrapped Date" />
                <span class="input-group-btn">
                    <button class="btn btn-info" (click)="vehicle.scrappedDate = today()" type="button">Today</button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="environmentDateInput">Environment Treatment Date</label>
            <div class="input-group">
                <input [(ngModel)]="vehicle.environmentTreatmentDate" type="date" class="form-control" id="environmentDateInput" name="environmentDateInput" placeholder="Enter Environment Treatment Date" />
                <span class="input-group-btn">
                    <button class="btn btn-info" (click)="vehicle.environmentTreatmentDate = today()" type="button">Today</button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <h3>Vehicle Information</h3>
        <div class="form-group">
            <label for="vinNumberInput">VIN Number</label>
            <input [(ngModel)]="vehicle.vinNumber" type="text" class="form-control" id="vinNumberInput" name="vinNumberInput" placeholder="Enter VIN Number" />
        </div>
        <div class="form-group">
            <label for="brandInput">Brand</label>
            <input [(ngModel)]="vehicle.brand" type="text" class="form-control" id="brandInput" name="brandInput" placeholder="Enter Brand" />
        </div>
        <div class="form-group">
            <label for="modelInput">Model</label>
            <input [(ngModel)]="vehicle.model" type="text" class="form-control" id="modelInput" name="modelInput" placeholder="Enter Model" />
        </div>
        <div class="form-group">
            <label for="varientInput">Varient</label>
            <input [(ngModel)]="vehicle.variant" type="text" class="form-control" id="varientInput" name="varientInput" placeholder="Enter Varient" />
        </div>
        <div class="form-group">
            <label for="colorInput">Color</label>
            <input [(ngModel)]="vehicle.color" type="text" class="form-control" id="colorInput" name="colorInput" placeholder="Enter Color" />
        </div>
        <div class="form-group">
            <label for="yearInput">Year</label>
            <input [(ngModel)]="vehicle.year" type="text" class="form-control" id="yearInput" name="yearInput" placeholder="Enter Year" />
        </div>
    </div>
    <div class="col-lg-12 col-md-12">
        <button type="submit" (click)="submit()" class="btn btn-success">Update</button>
        <button type="button" (click)="getDataFromSkat()" class="btn btn-info pull-right">Get data from SKAT.dk</button>
    </div>
</div>
